<div class="flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Conteúdo principal -->
  <div class="flex-1 p-6 ml-6">
    <h1 class="text-2xl font-bold">Dashboard</h1>
    <app-transaction-modal
      (transactionAdded)="fetchTransactions()"
    ></app-transaction-modal>

    <div class="grid grid-cols-3">
      <app-card
        [title]="'Total Entrada'"
        [value]="totalReceitas()"
        [customClass]="'text-green-600'"
      >
      </app-card>
      <app-card
        [title]="'Total Saída'"
        [value]="totalDespesas()"
        [customClass]="'text-red-600'"
      >
      </app-card>
      <app-card
        [title]="'Saldo Atual'"
        [value]="calcularTotal()"
        [customClass]="total >= 0 ? 'text-green-600' : 'text-red-600'"
      >
      </app-card>
    </div>
  </div>
</div>
